body,html{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    /* font-family: monospace; */
    margin: 3px !important;
    padding: 0 !important;
    box-sizing: border-box;
}
.container{
    max-width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: 0px !important;
}
/* h1{
    color: maroon;
} */

#heading{
    font-size: 26px;
}
h2{
    margin-top: 30px !important;
}
h3{
    color: maroon;
    font-size: 50px;
    margin-top: 30px !important;
}
h4{
    color: rgb(87, 2, 2) !important;
    font-weight: bolder;
}
.newlisting{
    text-align: center;
}
input{
    height: 40px;
    width: 300px;
}
textarea{
    width: 300px;
    height: 100px;
}
.btn{
    height: 29px;
    width: 78px !important;
    text-align: center !important;
    background-color: maroon !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 25px;
    margin-left: 125px;
    color: white;
    font-weight: bold !important;
}
.button-container{
    display: flex;
}

.btn:hover{
    background-color: rgb(229, 214, 214) !important;
    color: maroon !important;
}
.fa-compass{
    color: maroon;
    font-size: 40px;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.nav-link{
    font-weight: bold !important;
}
.f-info{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(244, 238, 238);
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
}
.f-info-socialmedia i, .f-info-links a{
    margin-left: 20px;
    color: black;
}
.f-info-links a{
    color: black;
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-socialmedia, .f-info-companyname, .f-info-links{
    margin-bottom: 10px;
}

.card-img-top{
    height: 70% !important;
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.card{
    border: none !important;
    border-radius: 1rem !important;
    margin-bottom: 2rem;
    height: 24em !important;
    /* margin-right: 10px; */   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Initial shadow */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}
.card:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Shadow on hover */
  }
.card-review{
    display: flex !important;
    border: black;
}
.card-body{
    padding: 15px !important;
}
.card-text{
    margin: 5px !important;
    font-size: 15px;
    color: black;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    /* opacity: 0.2; */
    background-color: white;
    transform: scale(0.95);
}
.listing-link:hover{
    transform: scale(1.1);
}
.card-img-overlay:hover i{
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.form-control, .form-group{
    width: 100%;
}
label{
    display: flex !important;
    justify-self: start !important;
}
.imagedetail{
    height: 25rem !important;
    background-size: cover !important;
}
.card-main{
    height: 33rem !important;
}
.card-title{
    font-size: 17px;
}
.listing-link{
    text-decoration: none;
}
.row-2{
    text-align: center;
    display: flex;
    justify-content: start;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: 0 !important;
    margin-top: 20px !important;
}

.review{
    margin-left: 0% !important;
    margin-top: 30px !important;
}
.rating {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    font-size: 45px;
    color: grey;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .rating input:checked ~ label {
    color: gold;
  }
  
  .rating input:not(:checked) ~ label:hover,
  .rating input:not(:checked) ~ label:hover ~ label {
    color: gold;
  }
  
.container-fluid {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .custom-carousel-height {
    max-height: 600px !important; /* Set the desired height */
    overflow: hidden; /* Prevent content overflow */
  }
  
  .custom-carousel-height img {
    object-fit: cover; /* Ensure the image fits nicely */
    height: 400px; /* Same height as the carousel */
    width: 100%;
  }
  
  #map { 
    height: 400px;
    width: 80vw; 
}